#intro-content-wrap {
    animation-name: fadeIn;
    animation-duration: 4s;
}

@keyframes movingBanner {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes godown {
    from {
        padding: 0px;
    }
    to {
        padding-bottom: 30px;
    }
}
@keyframes goleft {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-10px);
    }
}
@keyframes goright {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(10px);
    }
}
@keyframes swing {
    from {
        font-size: 100px;
    }
    to {
        font-size: 110px;
    }
}
@keyframes shaking {
    from {
        border-radius: 30%;
    }
    to {
        border-radius: 20%;
    }
}
@keyframes cursor {
    from {
        border-right: 3px solid rgb(0, 0, 0);
    }
    to {
        border-right: 3px solid rgb(255, 255, 255);
    }
}
