/* @import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap"); */
html,
body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
}
* {
    /* font-family: "Gaegu", cursive; */
    font-family: "Noto Sans KR", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

a {
    color: black;
}
.kakao {
    background-color: yellow;
}
.App {
    width: 100%;
    overflow: hidden;
}

/* .liberty-page,.mypage */
Link {
    cursor: pointer;
}

.head-navbar-left > div > a {
    color: black;
}
.head-navbar-left > div {
    color: black;
    margin-left: 30px;
    text-align: center;
}
.head-navbar-left #intro-content-wrap {
    border-radius: 20px;
}

.intro-content {
    background-color: rgba(207, 207, 24, 0.219);
    border-radius: 20px;
}
.fc,
.fc *,
.fc *:before,
.fc *:after {
    color: white;
    font-size: 0.6rem;
}
.intro-content:hover {
    transition: transform 0.2s linear;
    transform: translate3d(-3px, -3px, 2px);
}
#backToTop {
    background-color: rgb(232, 229, 229);
    width: 40px;
    height: 40px;
    text-align: center;
    /* border-radius를 width와 heigth의 중간값으로 하면 원이된다*/
    border-radius: 20px;
    position: fixed;
    bottom: 110px;
    right: 30px;
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
}
#backToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-size: 1.5rem;
    /* line-height는 height값으로 쓰면 중앙으로 된다. */
    line-height: 40px;
    color: rgb(167, 159, 159);
}
#backToTop.show {
    opacity: 1;
    background-color: rgb(54, 51, 51);
}

.popper {
    color: red;
}

/* 해방 create 페이지 */
.liberty-wrapper {
    text-align: center;
    width: 90%;
    margin: auto;
}
.liberty-date {
    text-align: center;
    font-size: 2rem;
}

.liberty-rating,
.liberty-rating > span > span {
    display: flex;
    justify-content: space-around;
    color: red;
}

/* 만든 태그 */
.hashtag {
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
}
/* 푸터 */
.footer-wrapper {
    text-align: center;

    height: 200px;
}

.footer-icon {
    display: flex;
    justify-content: center;
}
.footer-icon > div {
    padding: 10px;
}

.footer-logo {
    padding-top: 20px;
    font-size: 15px;
}
.footer-border {
    margin-top: -130px;
    width: 20%;
    /* 박스 중앙정렬 */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.hashtag-list {
    flex-wrap: wrap;
}

/*  혼재해방 리스트 아이템 */
/* .liberty-item-content-wrap:hover {
    animation-fill-mode: both;
} */

.liberty-textarea {
    margin-top: 5vh;
    width: 100%;
    overflow: auto;
    white-space: pre-line;
    word-wrap: break-word;
    font-size: 1rem;
    box-sizing: border-box;
    min-height: 100px;
    resize: vertical;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #ececec;

    padding: 20px;
}
.liberty-banner-text::after {
    content: "";
    margin-left: 0.6rem;
    border-right: 2px solid rgb(255, 255, 255);
    animation: cursor 0.9s infinite steps(2);
}

/* 뉴스페이지 */
@media screen and (max-width: 1024px) {
    /* 혼자해방리스트 */
    .liberty-item-wrapper {
        width: 20rem;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
    /* 메인 */
    .main-wrapper {
        width: 450px;
        height: 450px;
    }

    .main-text-wrap {
        margin-top: 100px;
        margin-left: 140px;
    }
    .main-text {
        text-align: center;
    }
    .main-text-header {
        font-size: 2rem;
    }
    .main-text-content {
        text-align: center;
    }
    .main-content {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 30px solid rgba(0, 0, 0, 0.911);
        border-top-color: rgba(121, 77, 162, 0.664);
        border-left-color: rgba(121, 77, 162, 0.664);
        border-radius: 50%;
        animation: spinner 12s infinite;
        animation-timing-function: linear;
    }
    /* 소개글 */

    /* 혼자해방리스트 */
    .liberty-item-wrapper {
        width: 20rem;
        margin: auto;
    }
}
@media screen and (max-width: 425px) {
    .fc-today-button {
        display: none !important;
    }
    .fc-button-group {
        height: 40px;
    }

    /* 메인 */

    .main-wrapper {
        width: 350px;
        height: 350px;
        margin-top: 90px;
    }
    .main-content {
        width: 80%;
        height: 80%;
        border: 30px solid rgba(0, 0, 0, 0.911);
        border-top-color: rgba(121, 77, 162, 0.664);
        border-left-color: rgba(121, 77, 162, 0.664);
        border-radius: 50%;
        animation: spinner 6s infinite;
        animation-timing-function: linear;
    }
    .main-text {
        text-align: center;
    }
    .main-text-wrap {
        position: absolute;
        z-index: 999;
        margin-left: 100px;
    }
    .main-text-header {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .main-text-picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-text-picture > * {
        font-size: 4rem;
    }
    .arrow-left {
        line-height: 2;
        font-size: 1.5rem;
        color: black;
        animation: goleft 1s infinite;
    }
    .arrow-right {
        line-height: 2;
        font-size: 1.5rem;
        color: black;
        animation: goright 1s infinite;
    }
    .main-text-content {
        text-align: center;
        margin-top: 10px;
        font-size: 1.3rem;

        visibility: hidden;
    }

    /* 혼자해방리스트 */
    .liberty-item-wrapper {
        width: 80%;
        margin: auto;
    }
    /* back to top */
    #backToTop {
        background-color: rgb(12, 12, 12);
        width: 30px;
        height: 30px;
        text-align: center;
        /* border-radius를 width와 heigth의 중간값으로 하면 원이된다*/
        border-radius: 20px;
        position: fixed;
        bottom: 70px;
        right: 10px;
        transition-property: background-color, opacity, visibility;
        transition-duration: 0.3s, 0.5s, 0.5s;
        opacity: 0;
    }
    #backToTop::after {
        content: "\f077";
        font-family: FontAwesome;
        font-size: 1rem;
        /* line-height는 height값으로 쓰면 중앙으로 된다. */
        line-height: 30px;
        color: rgb(255, 255, 255);
    }
    #backToTop.show {
        opacity: 1;
        background-color: rgb(74, 68, 68);
    }
}

@media screen and (max-width: 320px) {
    /* 소개글 */

    /* 앱헤더  */

    .head-navbar > div > a {
        font-size: 0.8rem;
    }
    .head-right {
        display: none;
    }
    /* 메인 */
    .main-wrapper > div > a {
        width: 220px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-text-wrap {
        margin-top: 60px;
        margin-left: 55px;
    }

    .main-text {
        font-size: 1rem;
    }
    .main-text-picture > i {
        font-size: 1rem;
    }
    .main-text-content {
        text-align: center;
        font-size: 1rem;
    }
    .main-content {
        margin: auto;
        width: 80%;
        height: 80%;
        border: 20px solid rgba(0, 0, 0, 0.911);
        border-top-color: rgba(121, 77, 162, 0.664);
        border-left-color: rgba(121, 77, 162, 0.664);
        border-radius: 50%;
        animation: spinner 12s infinite;
        animation-timing-function: linear;
    }
    /* 혼자해방리스트 */
}
